name: Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.2']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Install the correct Bundler version
      run: gem install bundler:2.3.27

    - name: Install dependencies
      run: bundle _2.3.27_ install

    - name: Run tests
      run: bundle exec rake

#    - name: Code Climate Coverage Action
#      uses: paambaati/codeclimate-action@v3
#      env:
#        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
